body {
    font-family: sans-serif;
    
    
}
.bin h2{
    opacity: 0.5;
    padding: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.bin h2:hover{
    opacity: 1;
    transition: 2s opacity linear;

}
h2{
    text-align: center;
    border-bottom:1px dotted #00B25C;
    font-size: 34px;
    
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
    background-color: orangered;
}
.sale{
    border-radius: 50%;
}


.button {
    color: black;
    text-decoration: none;
    padding: 15px 30px 15px 30px;
    font-size: 24px;
    border-radius: 10px;
    margin-left: 10px;
    background-color: #36D88A;
    float: left;
}
.button1 {
    color: black;
    text-decoration: none;
    padding: 15px 60px 15px 60px;
    font-size: 24px;
    border-radius: 10px;
    margin-left: 10px;
    background-color: #36D88A;
}
.button:hover{background-color: #36D88A	;
box-shadow:2px 2px 6px 6px white ;}
.button1:hover{background-color: #36D88A	;
    box-shadow:2px 2px 6px 6px white ;}
    
nav {
    border-top: 5px solid #00B25C;
    border-bottom: 5px solid #00B25C;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
}
.bin{
    
    color: orangered;
    text-align: center;
    font-size: 36px;
    padding: 0px auto 100px auto;
    background-image: url(https://img.alicdn.com/imgextra/i3/3164695222/O1CN01nSl8Vc1oRj1udDOPR_!!3164695222.jpg_600x600q90.jpg);
    height: 200px;
    margin-bottom: 30px;
    width: 100%;
}

.nav-link {
    font-size: 24px;
    color: black;
    text-decoration: none;
    display: block;
    padding: 5px;
}
.nav-link:hover{
    ;
   
   font-weight: bolder;
    padding: 5px;
    }
    
h1 {
    text-align: center;
    color: white;
    font-size: 60px;
    margin-top: 45px;
    margin-bottom: 40px;
    margin-left: 69px;
    text-shadow:  -10px 10px 10px #ec9200 ;
}
h1::before{
    content: url() ;
    display: inline-block;
    width: 50px;
    height: 50px;
    
}
h1::after{
    content: url() ;
    display: inline-block;
    width: 50px;
    height: 50px;
    
}

.post-text {
    font-size: 24px;
}

.info {
    display: flex;
    
    max-width: 1100px;
    margin: 0 auto;
    

}
.postt{
    border-radius: 10px;
   float: left;
    padding: 20px;
    padding-bottom: 10px;

}
.post{
    border-radius: 10px;
   float: left;
    padding: 20px;
    padding-bottom: 10px;

}


.post1{
    border-radius: 10px;
  
    padding: 20px;
    padding-bottom: 10px;
    position: absolute;
    left: 440px;
    top: 270px

}

.post2{
    border-radius: 10px;
  
    padding: 20px;
    padding-bottom: 10px;
    position: absolute;
    left:600px;
    top: 270px
}

.post3{
    border-radius: 10px;
   
    padding: 20px;
    padding-bottom: 10px;
    position: absolute;
    left:760px;
    top: 270px
}

section{
    display: flex;
    position: relative;
   
}
    

div{
    display: block;
}

span{
   font-weight: bolder;
   font-size: 24px;
   margin-left: 17px;}
   
.wert{
    border: 1px solid black;
    padding: 5px 8px 5px 8px;
    border-radius: 15px;
    font-weight: normal;
}

.post4{
    border-radius: 10px;
   
    padding: 20px;
    padding-bottom: 10px;
    position: absolute;
    left:920px;
    top: 0px

}




.full-image {
    margin: 100px 0px 30px 0px;
}

.social {
    display: block;
    width: 30px;
}

footer {
    background-color: orangered;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 30px 20px 45px;
    width: auto;
}

.footer-text {
    font-size: 24px;
    margin-right: 30px;
}
.address::before{
    content: url(https://mars.algoritmika.org/uploads/2021/03/home_0_1616091816.svg);
}
.tel::before{
    content: url(https://mars.algoritmika.org/uploads/2021/03/tel_0_1616091817.svg);
    
}

.footer-text span {
    color: #850AE5;
    font-weight: bolder;
}
aside{
    position: fixed;
    right: 0;
    top: 230px;
    width: 100px;
    height: 390px;
    padding: 20px;
    border-radius: 10px;
    background-color: orangered;
    opacity: 0.4;
}

.sale{
    position: absolute;
    right: 20px;
    top: 40px;
}
.social:hover{
    width:50px ;
    height: 50px;
    

}
.footer{
    width: 100%;
}
.post-img{
    margin: auto;
}

.wer{
   flex-wrap: wrap;
}
